* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  letter-spacing: 0.2px;
  line-height: 1.5;
  font-family: roboto, sans-serif;
  list-style-type: none;
}

.page {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: aliceblue;
}

#nav {
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 3px 15px -3px hsla(0, 0%, 59%, 0.266);
  font-weight: 500;
  color: grey;
  width: 99%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

li {
  font-family: IBM Plex Mono, monospace;
  margin-left: 17px;
  margin-right: 17px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-weight: 400;
  font-style: italic;
}

h1 {
  font-size: 3rem;
  word-spacing: 0.3rem;
  margin-top: 4.5rem;
  padding: 1px;
  font-weight: 200;
  font-family: IBM Plex Mono, monospace;
  font-style: italic;
  background-image: linear-gradient(rgb(43, 0, 255), rgb(255, 0, 255));
  background-clip: text;
  color: transparent;
  text-align: center;
}

.projects-card {
  max-width: 800px;
  width: 70%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 8px 8px 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 15px -3px,
    rgba(213, 190, 190, 0.1) 0px -2px 6px -4px;
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: saturate(10%) blur(7px);
}

.about-card {
  max-width: 800px;
  width: 70%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 8px 8px 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px -2px 6px -4px;
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: saturate(10%) blur(7px);
}

#link:hover {
  color: rgba(17, 17, 218, 0.746);
  transition: 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
}

#link {
  margin-left: 15px;
  margin-right: 15px;
  color: rgb(30, 144, 255);
  font-size: 1.1rem;
  font-family: IBM Plex Mono, monospace;
}

.about-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.projects {
  text-align: center;
}

/* #nav:hover {
  border: #00d4ff;
  width: 100em;
  margin: rgb(125, 27, 27);
  border: 1em;
} */

.about-card:hover {
  background-color: rgb(238, 238, 230);
}

.projects-card:hover {
  background-color: rgb(238, 238, 230);
}

.container:hover {
  background-color: rgb(238, 238, 230);
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .nav {
    padding-right: 0px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 15px -3px;
  }
  /* .projects {
  } */
}

.html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 90vw;
  max-width: 90vw;
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.profile-photo img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.title-card-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex: 1;
  align-items: flex-start;
}
